@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-teal);
$app-accent: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent);
@include angular-material-theme($app-theme);
body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
.app-content {
  padding: 4px;
  height: 100%;
}
/* 
 Targets following selectors:
 <a class="mat-button">...</a>
 <a class="mat-raised-button">...</a>
 <button class="mat-button">...</button>
 Does not target following selectors:
 <a class="mat-button override">...</a>
 <a class="mat-raised-button" override>...</a>
*/
.mat-button:not(.override), .mat-button:not([override]), .mat-raised-button:not(.override), .mat-raised-button:not([override]) {
  text-transform: uppercase;
}

.slider-sec img {
	height: 600px;
	object-fit: cover;
}
.content-sec {
	padding: 80px 0;
}
.content-sec-inner {
	padding: 0 0px 0 50px;
}
.content-sec p {
	text-align: center;
}

.submit-button{
	padding: 0.375rem 1.75rem;
	margin-left: 35%;
}
.slider-inner img {
	height: 300px;
	object-fit: cover;
}
.row-bottom{
	margin-bottom: 3%;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 800%;
  margin: 10px;
  text-align: center;
  font-size: 12px;
  padding: 80px 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.exampleContainer {
  margin: 1em;
  display: flex;
  flex-direction: row;
  width: 55em;
  border: 5px solid #FFF;
  min-height: 20em;
  align-items: flex-start;
}

.example{
  justify-content: center;
  font-weight: bold;
  color: #FFF;
  border-color: #FFF;
  border-style: solid;
  border-width: 0px;
  min-height: 4em;
  min-width: 8em;
  display: flex;
  align-items: center;
  
}